* {
  box-sizing: border-box;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
  width:100%;
  margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
}


.navbar{
    background-color: rgb(0, 0, 0);
     color: white;
    
}
 .nav-item > a {
    color: white; /* Set the text color to white */
  }

/* Style the header */

/* Create two equal columns that floats next to each other */
.play{
    background-image: url(images/bubbles-removebg-preview.png), linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
  background-repeat: no-repeat;
  background-clip: border-box, border-box;
  background-color: rgb(108, 14, 224);
  background-position: center center;
  min-height: 450px;
  overflow: hidden;
}
.column1 {
  float: left;
  width: 50%;
  
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.play:after {
  content: "";
  display: table;
  clear: both;
}


.title{
 color: white;
font-size: 48px;
font-weight: 900;
line-height: 1.15;
letter-spacing: -1.92px;
padding-bottom: 32px;

}


.rounded-button {
  padding: 10px 20px; 
  border-radius: 20px; 
  background-color:white; 
  color: black; 
  border: none; 
  cursor: pointer; 
}

/* Apply styles on hover */
.rounded-button:hover {
 
    box-shadow: 4px 2px 4px rgb(0, 0, 0);
    outline: none; /* Change background color on hover */
}


.column1>img{

}

.why-h2{
    max-width: 670px;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
margin-block: 0px;
font-size: 28px;
line-height: 32px;
letter-spacing: -0.015em;
font-weight: 900;
padding: 0px;
text-align: center;
}

.r{
  font-family: "Amazon Ember Light" !important;
  font-size: 15px;
  height: auto;
  display: block;
min-height: 47vh;
margin-top: 30px;
margin-bottom: 80px;
text-rendering: optimizeLegibility;

}
.c {
  float: left;
  height: 100%;
  width: 25%;
  color: black;
  padding: 10px;
  height: 300px; 
 
  
  /* Should be removed. Only for demonstration */
}

.c >h2{
    color: black;
    margin-bottom: 4px;
    margin-left: 20px;
font-family:Helvetica,Arial,sans-serif;
margin-block: 0px;
font-size: 20px;
color: inherit;
text-align: center;
}



.wai{
   margin-left: 70px;
}

.white{
    box-sizing: border-box;
line-height: 1.5;
font-size: 16px;
padding: 0px;
margin-left: 20px;
    font-family:Helvetica,Arial,sans-serif;
margin-block: 0px;
font-size: 0.875rem;
line-height: 1.25rem;
font-weight: 400;
color: inherit;
text-align: center;
}




.fc1{
    display: none;
}
.f1 {
  float: left;
  width: 100%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}



/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.free{
    background-image: linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)); 
    min-height: 450px;
}




.f1p{
color: white;
font-size: 40px;
font-weight: 900;
letter-spacing: -0.02em;
line-height: 1.2;
padding: 0px 15px 80px;
display: block;
  margin-top: 90px;
text-align: center;

}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
    margin-top: -90px;
  }

  .c{
width: 100%;
display: flex;
flex-direction: column;
font-size: small;

}

.c> img{
vertical-align: top;
max-width: 40%;
display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
}

.r{
  margin-top: 50px;
  
}
.great-ent{
display: table;

}
.wai{  
display:flex;
flex-direction: left;
position: center top;
margin-right: 20px;
-moz-box-flex: 1;
flex-grow: 1;
width: 142px;
height: 142px;
}
}



/*******************Accordion*************/
article{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
    margin-left: 100px;
    margin-right: 100px;
}
.accordion-title{
      margin-block: 0px;
      margin-top: 40px;
      margin-bottom: 40px;
  font-size: 28px;
  line-height:32px;
  letter-spacing: -0.015em;
  font-weight: 900;
  padding: 0px;
font-family:Helvetica,Arial,sans-serif;
text-align: center;
}
.accordion {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border:#949494;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
 
    padding: 30px;
}

.active, .accordion:hover {
  background-color: rgb(248, 248, 248); 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;

  
}


.ready {
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: url(images/bubbles-removebg-preview.png), linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    min-height: 300px;
}

.ready1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.readyp{
color: white;
font-size: 80px;
font-weight: 900;
letter-spacing: -0.02em;
line-height: 1.2;
padding: 0px 15px 80px;
display: block;
  margin-top: 90px;
  margin-bottom: 40px;
text-align: center;

}

.rounded-button2{
 padding: 10px 20px; 
  border-radius: 20px; 
  background-color:white; 
  color: black; 
  border: none; 
  cursor: pointer;
  margin-bottom: 80px; 
}

/* Apply styles on hover */
.rounded-button2:hover {
 
    box-shadow: 4px 2px 4px rgb(0, 0, 0);
    outline: none; /* Change background color on hover */
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .play {   
    flex-direction: column-reverse;
   
  }
.column1>img{

        display: none;
    }
    .title{
        margin-top: 0px;
    }
}



/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width:100%;
  }
}


/*footer*/


.footer{
  background-color: rgb(34, 34, 34);
color: rgb(148, 148, 148);
font-family: "Amazon Ember";
padding: 24px;
text-align: center;
line-height: 20px;
}
.footer-links{
  margin: 0;
padding: 0;
font-size: 15px;
line-height: 19px;
color: #949494;
font-family: "Amazon Ember";
text-align: center;
text-rendering: optimizeLegibility;
}
.Footer__copyright{
  color: #949494;
  font-family: "Amazon Ember";
padding: 24px;
text-align: center;
font-size: 15px;
text-rendering: optimizeLegibility;
line-height: 20px;
margin-top: 0px;
}